<div class="form-row">
   <div class="form-item">
      <label>Tool name</label>
      <input type="text" name="name" value="<%= tool.name %>">
   </div>
   <div class="form-item">
         <label>Serialnumber</label>
         <input type="text" name="qrCode" value="<%= tool.qrCode %>">
   </div>
</div>

<div class="form-row">
   <div class="form-item">
      <label>Toolbox</label>
      <select name="toolbox">
         <% toolboxes.forEach(toolbox => { %>
            <% if (toolbox.id === tool.toolbox) { %>
            <option selected label="<%= toolbox.name %>" value="<%= toolbox.id %>">
            <% } else { %>
            <option label="<%= toolbox.name %>" value="<%= toolbox.id %>">
            <% } %>
         <% }) %>
      </select>	
   </div>  
   <div class="form-item">
      <label>Price</label>
      <input type="number" name="price" min="1" value="<%= tool.price %>">
   </div>
</div> 

<div class="form-row">
   <div class="form-item">
      <label>Purchase date</label>
      <input type="date" name="createdDate" 
         value="<%= tool.createdDate == null ? '' : tool.createdDate.toISOString().split('T')[0] %>">
   </div>
   <div class="form-item"></div>
</div>

<div class="form-row">
   <div class="form-item">
      <label>Borrower</label>
      <input type="text" name="borrower" value="<%= tool.borrower %>">
   </div>
   <div class="form-item">
      <label>Available</label>
      <input type="checkbox" name="available" checked value="<%= tool.available %>">
   </div>
</div>

<div class="form-row">
   <div class="form-item form-item-no-grow">
         <label>Image</label>
         <input type="file" name="toolImage" class="filepond">
   </div>
   <div class="form-item">
      <label>Description</label>
      <textarea name="description"><%= tool.description %></textarea>
   </div>
</div>