<h2><%= toolbox.name %></h2>
<a href="/toolboxes/<%= toolbox.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/toolboxes/${toolbox.id}` }) %> 
<% if (toolsInToolbox.length > 0) { %> 
    <h2>Tools in toolbox</h2>
    <% toolsInToolbox.forEach(tool => { %> 
        <a href="/tools/<%= tool.id %>">
            <img height="150" width="150" src="<%= tool.toolImagePath %> ">
        </a>
    <% })%> 
<% } %> 
